#menu1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(132, 24, 24);
    padding: 10px;
}
li {
    list-style: none;
}
#menu1 img {
    align-items: center;
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
#menu1 a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: 1px;
    border-radius: 5px;
}
body {
    font-family: sans-serif;
    margin: 0;
}

.container {
    border: 1px solid #ccc;
    padding: 20px;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.info {
    margin-bottom: 20px;
}

.score {
    font-size: 16px;
}

.answers {
    list-style: none;
    padding: 0;
    margin: 0;
}

.answer {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

.correct {
    background-color: #cfc;
}

.incorrect {
    background-color: #ff9999;
}

details {
    margin-top: 20px;
    height: auto;
}
button {
    cursor: pointer;
}
button {
    border-color: black;
    background-color: rgb(183, 65, 65);
    border-radius: 3em;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    display: block;
}

#thacmac {
    background-color: red;
    border: 1px solid red;
    color: #fff;
}

#thacmac:hover {
  background-color: #fff;
  color: red;
}
